.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.body {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin: 5px;
}