<footer id="footer" class="clearfix">
    <!-- footer-top -->
    <section class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <!-- footer-widget -->
                <div class="col-sm-4">
                    <div class="footer-widget">
                        <h3>Quik Links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div><!-- footer-widget -->
                <!-- footer-widget -->
                <!-- footer-widget -->
                <div class="col-sm-4">
                    <div class="footer-widget">
                        <h3>Job Site Details</h3>
                        <ul>
                            <li><a href="#">How to search Job</a></li>
                            <li><a href="#">Job Membership</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div><!-- footer-widget -->
                <!-- footer-widget -->
                <div class="col-sm-4">
                    <div class="footer-widget social-widget">
                        <h3>Follow us on</h3>
                        <p>
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </p>
                    </div>
                </div><!-- footer-widget -->
            </div><!-- row -->
        </div><!-- container -->
    </section><!-- footer-top -->


    <div class="footer-bottom clearfix text-center">
        <div class="container">
            <p>Copyright &copy; 2017. Developed by <a href="#">ThinkTank</a></p>
        </div>
    </div><!-- footer-bottom -->
</footer><!-- footer -->
<!-- JS -->
<script src="~/Content/js/Parsley.js-2.4.3/dist/parsley.min.js"></script>
<script src="~/Content/js/modernizr.min.js"></script>
<script src="~/Content/js/owl.carousel.min.js"></script>
<script src="~/Content/js/smoothscroll.min.js"></script>
<script src="~/Content/js/scrollup.min.js"></script>
<script src="~/Content/js/price-range.js"></script>
@**@

<script src="~/Content/js/custom.js"></script>
<script src="~/Content/js/switcher.js"></script>


<script src="~/Content/js/moment.min.js"></script>
<script src="~/Content/js/daterangepicker.js"></script>
<!--Ladda-->
<link href="~/Content/js/ladda/ladda.min.css" rel="stylesheet" />
<script src="~/Content/js/ladda/spin.min.js"></script>
<script src="~/Content/js/ladda/ladda.min.js"></script>


<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Content/js/timepicki.js"></script>
<script src="~/Content/js/bootstrap-datepicker.js"></script>


<script>
    $('.timepicker').timepicki();
</script>
@Scripts.Render("~/bundles/jqueryval")