<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="GotIn">
<meta name="description" content="">
<title>Welcome to GotIn</title>
<!-- CSS -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/icofont.css" rel="stylesheet" />
<link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/css/slidr.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/presets/preset1.css" rel="stylesheet" />
<link href="~/Content/css/responsive.css" rel="stylesheet" />
<!--Parsley-->

<link href="~/Content/css/timepicki.css" rel="stylesheet" />
<link href="~/Content/js/Parsley.js-2.4.3/src/parsley.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<link href="~/Content/css/loader.css" rel="stylesheet" />
<!--Js-->
<script src="~/Content/js/jquery-2.0.2.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script src="~/Content/js/bootstrap.min.js"></script>






<!--Animations by Daniel-->
<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>
<!-- icons -->

<link rel="icon" href="~/Content/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="#">
<!-- icons -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

<![endif]-->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


<script>
    $(window).load(function () {
        $("#loading").delay(500).fadeOut(500);
    })
</script>