@{
    ViewBag.Title = "Contact";
}

<section id="submain" class="clearfix contact-us">
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb-section">

            <h2 class="title">Contact Us</h2>
        </div><!-- banner -->
        

        <!-- gmap -->
        <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11795.77518124754!2d-71.09137475!3d42.343721650000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x70f2fc9725e9227a!2sNortheastern+University+College+of+Professional+Studies!5e0!3m2!1sen!2sus!4v1512519372541" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>



        <div class="corporate-info">
            <div class="row">
                <!-- contact-info -->
                <div class="col-sm-12">
                    <div class="contact-info">

                        <h2>Corporate Info</h2>
                        <address>
                            <p><strong>address: </strong>Boston, Massachusetts</p>
                            <p><strong>Phone:</strong> <a href="#">(857)204-261</a></p>
                            <p><strong>Email: </strong><a href="#">info@gotin.com</a></p>
                        </address>

                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div><!-- contact-info -->


            </div><!-- row -->
        </div>
    </div><!-- container -->
</section><!-- main -->