@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="submain" class="clearfix user-page">
    <div class="container">
        <div class="row text-center">
            <!-- user-login -->
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="user-account">
                    <h2>Forgot Password</h2>
                    <div class="alert alert-success col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> <div class="col-md-12" id="successMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>
                    <div class="alert alert-info col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                    </div>
                    <div class="alert alert-warning col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> <div class="col-md-12" id="WarningMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>
                    <div class="alert alert-danger col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> <div class="col-md-12" id="dangerMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>

                    <!-- form -->
                    @using (Ajax.BeginForm("ForgotPassword", "Home", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "progress-indicator", OnSuccess = "forgot_pass", OnBegin = "AjaxBeginSave", OnFailure = "AjaxFailure" }, new { data_parsley_validate = "true" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input class="form-control" name="username" data-parsley-required="true" data-parsley-maxlength="30" placeholder="USERNAME" type="email" style="text-align:center" />
                        </div>
                        <button type="submit" id="btnForgot" data-style="expand-right" class="btn btn-lg m-b-40">Submit</button>
                    }
                </div>
                <a href="/Home/Login" class="btn-primary">Click Here to Login</a>
            </div><!-- user-login -->
        </div><!-- row -->
    </div><!-- container -->
</section>
<script>
    function AjaxBeginSave() {
        var l = Ladda.create(document.getElementById('btnForgot'));
        l.start();
    }
    function AjaxFailure() {
        var l = Ladda.create(document.getElementById('btnForgot'));
        l.stop();
    }
    myVar = null;
    function forgot_pass(data) {
        clearTimeout(myVar);
        var l = Ladda.create(document.getElementById('btnForgot'));
        l.stop();
        if (data.success) {
            $('.alert-success').slideDown();
            $('#successMsg').html(data.message);

            myVar = setTimeout(function () {
                $('.alert-succes').slideUp();
            }, 6000);
        }
        else {
            $('.alert-danger').slideDown();
            $('#dangerMsg').html(data.message);

            myVar = setTimeout(function () {
                $('.alert-danger').slideUp();
            }, 6000);
        }
    }
</script>

