@model ThinkTankJobApp.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="submain" class="clearfix user-page reset_password">
    <div class="container">
        <div class="row text-center">
            <!-- user-login -->
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="user-account">
                    <h2>Reset Password</h2>
                    <div class="alert alert-success col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> <div class="col-md-12" id="successMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>
                    <div class="alert alert-info col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                    </div>
                    <div class="alert alert-warning col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> <div class="col-md-12" id="WarningMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>
                    <div class="alert alert-danger col-md-12" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> <div class="col-md-12" id="dangerMsg">This alert box could indicate a dangerous or potentially negative action.</div>
                    </div>

                    <!-- form -->
                    @using (Ajax.BeginForm("UpdatePassword", "Home", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "progress-indicator", OnSuccess = "reset_pass", OnBegin = "AjaxBeginSave", OnFailure = "AjaxFailure" }, new { data_parsley_validate = "true", id = "frmreset" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.token)


                        <div class="form-group">
                            @Html.TextBoxFor(m => m.password, new { @placeholder = "Password", @class = "form-control", data_parsley_required = "true", data_parsley_trigger = "change keypress keyup focusout", data_parsley_required_message = "Please enter password", @type = "password", id = "Pword", minlength = "6", @style = "text-align:center;" })
                            <div id="progress"></div>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.password, new { @class = "form-control", type = "password", id = "ConfirmPword", placeholder = "Confirm Password", data_parsley_required = "true", data_parsley_trigger = "change keypress keyup focusout", data_parsley_required_message = "Enter Confirm Password", data_parsley_equalto = "#Pword", data_parsley_equalto_message = "Password Mismatch", minlength = "6", @style = "text-align:center;" })
                            <div id="parsley_error_Email"></div>
                        </div>
                        
                        <button type="submit" id="btnReset" data-style="expand-right" class="btn btn-lg m-b-40">Reset</button>
                    }
                </div>
                <a href="/Home/Login" class="btn-primary">Click Here to Login</a>
            </div><!-- user-login -->
        </div><!-- row -->
    </div><!-- container -->
</section>
<script type="text/javascript">

    $(function () {

        var options = {
            onKeyUp: function (evt) {
                if ($('#Pword').val().length > 0) {
                    debugger;
                    $('.password-verdict').fadeIn();
                    $('.strength_').fadeIn();
                    $(".password-verdict").css("display", "inline-block");
                    $(".password-verdict").css("margin-top", "5px");
                } else {
                    debugger;
                    $('.password-verdict').fadeOut();
                    $('.strength_').fadeOut();
                }
                $(evt.target).pwstrength("outputErrorList");
            }
        };

        $('#Pword').pwstrength(options);



    })

</script>
<script>
    function AjaxBeginSave() {
        var l = Ladda.create(document.getElementById('btnReset'));
        l.start();
    }
    function AjaxFailure() {
        var l = Ladda.create(document.getElementById('btnReset'));
        l.stop();
    }
    myVar = null;
    function reset_pass(data) {
        clearTimeout(myVar);
        var l = Ladda.create(document.getElementById('btnReset'));
        l.stop();
        if (data.success) {
            debugger;
            $('.alert-success').slideDown();
            $('#successMsg').html(data.message);

            myVar = setTimeout(function () {
                $('.alert-succes').slideUp();
            }, 6000);
            $('#frmreset')[0].reset();
            var pass = $('#Pword').val("");
            if ($('#Pword').val() == "") {
                $('.password-verdict').fadeOut();
                $('.strength_').fadeOut();
            }
            // $('.reset_password').html(data.data);
            grecaptcha.reset();
        }
        else {
            $('.alert-danger').slideDown();
            $('#dangerMsg').html(data.message);

            myVar = setTimeout(function () {
                $('.alert-danger').slideUp();
            }, 6000);
        }
    }
</script>

