@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main" class="clearfix published-page">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="congratulations">
                    <i class="fa fa-check-circle"></i>
                    <h2 class="successs">Success!</h2>

                    @TempData["Success"].ToString();
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- main -->
